@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "radiance-regular";
  src: url("./radiance-regular.otf");
}
.bg-heropick {
  background-image: url("/assets/heropickbackground.png");
}

.bg-split {
  background-image: url("/assets/dotabackground.jpg");
}

.bg-icebox {
  background-image: url("/assets/dotabackground2.jpg");
  background-position: center;
}

body {
  font-family: "radiance-regular";
}
